header {
  background-image: linear-gradient(to right, var(--my-dark-green), #4aabeb);
  color: #ffffff;
  height: auto 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: 700px;
}

section {
  display: flex;
  height: 100vh;
}

nav {
  width: 200px;
  height: 100vh;
  background-color: var(--my-middle-gray);
  color: var(--my-dark-deep-gray);
  padding-top: 10px;
}

nav>ul {
  padding: 20px;
}

nav>ul>li>ul {
  padding: 20px;
  width: 100%
}

nav>ul>li {
  align-items: center;
  margin: 10px 0px;
}

nav>ul>li>.nav-titlemn,
.btn-nav-menu {
  display: block;
  position: relative;
  cursor: pointer;
  margin: 10px 0px;
}

nav>ul>li>.nav-titlemn:after {
  content: '\F234';
  font-family: bootstrap-icons !important;
  position: absolute;
  right: 0px;
}

nav>ul>li>.nav-titlemn.tabon:after {
  content: '\F22C';
  font-family: bootstrap-icons !important;
  position: absolute;
  right: 0px;
}

nav>ul>li>.btn-navmn {
  padding-left: 20px;
  display: none;
}

nav>ul>li>.btn-navmn:before {
  content: '\f015';
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

main {
  width: calc(100% - 200px);
  padding: 30px;
}

.btn-fold-menu:after {
  content: "\F479";
  width: 40px;
  height: 40px;
  font-family: bootstrap-icons !important;
  font-size: 27px;
  position: relative;
}

.top-wrap {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.top-logo {
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
}

.top-right {
  width: 300px;
  position: relative;
}

.top-right>.imguser {
  margin-left: 30px;
}

.top-right>.imguser::after {
  content: "\F4D7";
  width: 20px;
  height: 20px;
  font-family: bootstrap-icons !important;
  position: absolute;
  left: 0px;
}

.top-right>.imgset::after {
  content: "\F3E5";
  width: 20px;
  height: 20px;
  font-family: bootstrap-icons !important;
  position: absolute;
  right: 0px;
}

.top-right>.imguser::after,
.top-right>.imgset::after {
  cursor: pointer;
}

.tab-basic-wrap {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  color: #000;
}

.tab-basic-wrap>.tab-title {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.tab-basic-wrap>.tab-buttons {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #000;
}

.tab-basic-wrap>.tab-buttons>.tab-item {
  width: 150px;
  padding: 20px;
  text-align: center;
  border: 0px solid #000;
  cursor: pointer;
}

.tab-basic-wrap>.tab-buttons>.tab-item:hover {
  background-color: #000;
  color: #ffffff;
}

.tab-basic-wrap>.tab-buttons>.tab-item.is-active {
  border-bottom: 2px solid #000;
}

.tab-basic-wrap>.tab-contents.tab-item.is-active {
  border-bottom: 2px solid #000;
}

.tab-basic-wrap>.tab-contents>.tab-item {
  background-color: #e0ddddd7;
  color: #ffffff;
  height: 150px;
}